{% extends 'shared/base.html' %}
{% load static %}
{% load profile_status %}

{% block content %}
    {#    <h1>{{ request.user }}</h1>#}

    <div class="container">
        <div class="form-group">
            <h4>Welcome!</h4>
            {% profile_status %}

            <form action="{% url 'profile info' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>

{% endblock %}