{% extends 'shared/base.html' %}

{% block content %}

    <div class="container">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h4>Create an account</h4>
                {{ form }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="form-group">
            <p>If you already have an account, log in <a href="{% url 'log in' %}">from here.</a></p>
        </div>
    </div>

{% endblock %}