{% extends 'shared/base.html' %}

{% block content %}


    <div class="container">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ place.image.url }}" class="">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex justify-content-between">
                    <div class="place-name">
                        <h5>Name: {{ place.name }}</h5>
                    </div>
                    <div class="place-location">
                        <h5>Location: {{ place.location }}</h5>
                    </div>

                    {% if is_owner %}
                    <h5>Uploaded by: {{ place.user.email }}</h5>
                    {% endif %}

                </div>
                <p class="">Description: {{ place.description }}</p>


                {% if comments %}
                    <h3>Comments:</h3>
                    {% for comment in comments %}
                        <p class="mt-2">{{ comment.user }} / Comment: {{ comment.text }}</p>
                    {% endfor %}

                {% endif %}

                <a href="{% url 'all places' %}" class="btn btn-primary">Back to places</a>
                {% if is_owner %}

                <a href="#" class="btn btn-success">Edit place</a>
                <a href="{% url 'delete place' place.id %}" class="btn btn-danger">Delete place</a>

                {% endif %}

            </div>


        </div>

    </div>

{% endblock %}