{% extends 'shared/base.html' %}

{% block content %}

    <div class="container">
        <h1 class='text-center'>All Places</h1>
        <div class="row">
            {% for place in places %}
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ place.image.url }}" class="card-img-top" alt="image of {{ place.name }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ place.type }}: {{ place.name }}, {{ place.location }}</h5>
                            <p class="card-text">{{ place.description }}</p>
                            <a href="{% url 'place details' place.id %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}