.col-sm img{
    max-width: 150px;
}


footer {
    display: none;
    bottom: 0;
    height:2%;
    background: #bbccdd;
    border-top: 2px solid #1b1b1b;
    width: 100%;
}

footer p {
    margin:0 auto;
    padding: 10px;
}

.form-group{
    width: 40%;
    margin: 0 auto;
}

.form-group label{
    margin:20px 0 5px 10px;
    font-weight: 600;
}

.form-group button{
    margin-top:15px;
}

.form-control input {
    border:10px
}

.form-group p{
    margin-top:30px;
}

.create button{
    float:right;
}

.create input[type=file]{
    margin: 7px;
    font-size: 14px;
}

.card img{
   height: 180px;
}

.d-flex .d-inline img{
    max-width: 100%
}

.place-name, .place-location {
    display: block;
    width: 100%;
}