{% extends 'shared/base.html' %}

{% block content %}

    <div class="container">
        <div class="form-group">
            <h4>Edit place</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                {{ form.errors }}
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'all places' %}" class="btn btn-primary stylized">Cancel</a>
            </form>
        </div>
    </div>


{% endblock %}