{% extends 'shared/base.html' %}


{% block head_title %}
    Edit your profile:  {{ request.user }}
{% endblock %}


{% block content %}

<div class="container">
    <div class="form-group">
        <h4>Edit your profile</h4>

            <form action="{% url 'edit profile' %}" method="post">
                {% csrf_token %}
                {{ form }}
                {{ form.errors }}
                <button type="submit" class="btn btn-success">Update</button>
                <a class="btn btn-primary stylized" href="{% url 'profile info' %}">Cancel</a>
            </form>
    </div>
</div>

{% endblock %}