{% extends 'shared/base.html' %}
{% load static %}
{% load profile_status %}

{% block content %}
    {#    <h1>{{ request.user }}</h1>#}

    <div class="container">
        <div class="form-group">
            <h4>Welcome!</h4>
            {% profile_status %}

            {{ form }}

            <div style="margin-top:20px;">
                <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit profile</a>
                <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete profile</a>
            </div>

        </div>
    </div>

{% endblock %}